.segmented_control {
  background-color: var(--sprout-overlay-background-color-inverse);
  outline: var(--sprout-common-border-default);
  outline-offset: calc(var(--sprout-common-border-default-width) * -1);
}

.segmented_control[aria-orientation="vertical"] {
  flex-direction: column;
}

.segment:has(input[type="radio"]:disabled) {
  color: var(--sprout-common-foreground-color-disabled);
  pointer-events: none;
}

.segment input[type="radio"]:checked + span {
  background-color: var(--sprout-common-background-color-default);
  outline: var(--sprout-common-border-extra-strong);
  outline-offset: calc(var(--sprout-common-border-extra-strong-width) * -1);
  box-shadow: var(--sprout-common-elevation-weak);
}

.segment input[type="radio"]:focus-visible + span {
  background-color: var(--sprout-common-background-color-default);
  outline: var(--sprout-focus-border-default);
  outline-offset: calc(var(--sprout-focus-border-default-width) * -1 / 2);
}

.segment input[type="radio"]:not(:checked):hover + span {
  background-color: var(--sprout-common-background-color-hover);
}

.segment input[type="radio"]:not(:checked):active + span {
  background-color: var(--sprout-common-background-color-pressed);
}
