.justify_items_start {
  justify-items: start;
}

.justify_items_end {
  justify-items: end;
}

.justify_items_end_safe {
  justify-items: safe end;
}

.justify_items_center {
  justify-items: center;
}

.justify_items_safe_center {
  justify-items: safe center;
}

.justify_items_stretch {
  justify-items: stretch;
}

.justify_items_normal {
  justify-items: normal;
}

.grid_flow_row {
  grid-auto-flow: row;
}

.grid_flow_col {
  grid-auto-flow: column;
}

.grid_flow_dense {
  grid-auto-flow: dense;
}

.grid_flow_row_dense {
  grid-auto-flow: row dense;
}

.grid_flow_col_dense {
  grid-auto-flow: column dense;
}

.grid_cols_none {
  grid-template-columns: none;
}

.grid_cols_1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid_cols_2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid_cols_3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid_cols_4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid_cols_5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid_cols_6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid_cols_7 {
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid_cols_8 {
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid_cols_9 {
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid_cols_10 {
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid_cols_11 {
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid_cols_12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid_cols_16 {
  grid-template-columns: repeat(16, minmax(0, 1fr));
}

.grid_cols_subgrid {
  grid-template-columns: subgrid;
}

.grid_rows_subgrid {
  grid-template-rows: subgrid;
}

.grid_rows_none {
  grid-template-rows: none;
}

.grid_rows_1 {
  grid-template-rows: repeat(1, minmax(0, 1fr));
}

.grid_rows_2 {
  grid-template-rows: repeat(2, minmax(0, 1fr));
}

.grid_rows_3 {
  grid-template-rows: repeat(3, minmax(0, 1fr));
}

.grid_rows_4 {
  grid-template-rows: repeat(4, minmax(0, 1fr));
}

.auto_cols_auto {
  grid-auto-columns: auto;
}

.auto_cols_min {
  grid-auto-columns: min-content;
}

.auto_cols_max {
  grid-auto-columns: max-content;
}

.auto_cols_fr {
  grid-auto-columns: minmax(0, 1fr);
}

.auto_rows_auto {
  grid-auto-rows: auto;
}

.auto_rows_min {
  grid-auto-rows: min-content;
}

.auto_rows_max {
  grid-auto-rows: max-content;
}

.auto_rows_fr {
  grid-auto-rows: minmax(0, 1fr);
}

.col_span_1 {
  grid-column: span 1 / span 1;
}

.col_span_2 {
  grid-column: span 2 / span 2;
}

.col_span_3 {
  grid-column: span 3 / span 3;
}

.col_span_4 {
  grid-column: span 4 / span 4;
}

.col_span_5 {
  grid-column: span 5 / span 5;
}

.col_span_6 {
  grid-column: span 6 / span 6;
}

.col_span_7 {
  grid-column: span 7 / span 7;
}

.col_span_8 {
  grid-column: span 8 / span 8;
}

.col_span_9 {
  grid-column: span 9 / span 9;
}

.col_span_10 {
  grid-column: span 10 / span 10;
}

.col_span_11 {
  grid-column: span 11 / span 11;
}

.col_span_12 {
  grid-column: span 12 / span 12;
}

.col_span_13 {
  grid-column: span 13 / span 13;
}

.col_span_14 {
  grid-column: span 14 / span 14;
}

.col_span_15 {
  grid-column: span 15 / span 15;
}

.col_span_16 {
  grid-column: span 16 / span 16;
}

.col_span_full {
  grid-column: 1 / -1;
}

.col_start_1 {
  grid-column-start: 1;
}

.col_start_2 {
  grid-column-start: 2;
}

.col_start_3 {
  grid-column-start: 3;
}

.col_start_4 {
  grid-column-start: 4;
}

.col_start_5 {
  grid-column-start: 5;
}

.col_start_6 {
  grid-column-start: 6;
}

.col_start_7 {
  grid-column-start: 7;
}

.col_start_8 {
  grid-column-start: 8;
}

.col_start_9 {
  grid-column-start: 9;
}

.col_start_10 {
  grid-column-start: 10;
}

.col_start_11 {
  grid-column-start: 11;
}

.col_start_12 {
  grid-column-start: 12;
}

.col_start_13 {
  grid-column-start: 13;
}

.col_start_14 {
  grid-column-start: 14;
}

.col_start_15 {
  grid-column-start: 15;
}

.col_start_16 {
  grid-column-start: 16;
}

.col_end_1 {
  grid-column-end: 1;
}

.col_end_2 {
  grid-column-end: 2;
}

.col_end_3 {
  grid-column-end: 3;
}

.col_end_4 {
  grid-column-end: 4;
}

.col_end_5 {
  grid-column-end: 5;
}

.col_end_6 {
  grid-column-end: 6;
}

.col_end_7 {
  grid-column-end: 7;
}

.col_end_8 {
  grid-column-end: 8;
}

.col_end_9 {
  grid-column-end: 9;
}

.col_end_10 {
  grid-column-end: 10;
}

.col_end_11 {
  grid-column-end: 11;
}

.col_end_12 {
  grid-column-end: 12;
}

.col_end_13 {
  grid-column-end: 13;
}

.col_end_14 {
  grid-column-end: 14;
}

.col_end_15 {
  grid-column-end: 15;
}

.col_end_16 {
  grid-column-end: 16;
}

.col_end__1 {
  grid-column-end: -1;
}

.col_auto {
  grid-column: auto;
}

.col_1 {
  grid-column: 1;
}

.col_2 {
  grid-column: 2;
}

.col_3 {
  grid-column: 3;
}

.col_4 {
  grid-column: 4;
}

.col_5 {
  grid-column: 5;
}

.col_6 {
  grid-column: 6;
}

.col_7 {
  grid-column: 7;
}

.col_8 {
  grid-column: 8;
}

.col_9 {
  grid-column: 9;
}

.col_10 {
  grid-column: 10;
}

.col_11 {
  grid-column: 11;
}

.col_12 {
  grid-column: 12;
}

.col_13 {
  grid-column: 13;
}

.col_14 {
  grid-column: 14;
}

.col_15 {
  grid-column: 15;
}

.col_16 {
  grid-column: 16;
}

.row_span_1 {
  grid-row: span 1 / span 1;
}

.row_span_2 {
  grid-row: span 2 / span 2;
}

.row_span_3 {
  grid-row: span 3 / span 3;
}

.row_span_4 {
  grid-row: span 4 / span 4;
}

.row_start_1 {
  grid-row-start: 1;
}

.row_start_2 {
  grid-row-start: 2;
}

.row_start_3 {
  grid-row-start: 3;
}

.row_start_4 {
  grid-row-start: 4;
}

.row_end_1 {
  grid-row-end: 1;
}

.row_end_2 {
  grid-row-end: 2;
}

.row_end_3 {
  grid-row-end: 3;
}

.row_end_4 {
  grid-row-end: 4;
}

.row_auto {
  grid-row: auto;
}

.row_1 {
  grid-row: 1;
}

.row_2 {
  grid-row: 2;
}

.row_3 {
  grid-row: 3;
}

.row_4 {
  grid-row: 4;
}
