.z_stacked {
  z-index: var(--sprout-container-layer-stacked);
}

.z_floating {
  z-index: var(--sprout-container-layer-floating);
}

.z_overlay {
  z-index: var(--sprout-container-layer-overlay);
}

.z_context {
  z-index: var(--sprout-container-layer-context);
}

.z_time_sensitive {
  z-index: var(--sprout-container-layer-time-sensitive);
}

.z_cursor {
  z-index: var(--sprout-container-layer-cursor);
}
