.m_auto {
  margin: auto;
}

.m_0 {
  margin: 0;
}

.m_xs {
  margin: var(--sprout-common-spacing-xs);
}

.m_s {
  margin: var(--sprout-common-spacing-s);
}

.m_m {
  margin: var(--sprout-common-spacing-m);
}

.m_l {
  margin: var(--sprout-common-spacing-l);
}

.m_xl {
  margin: var(--sprout-common-spacing-xl);
}

.m_xxl {
  margin: var(--sprout-common-spacing-xxl);
}

.m_3xl {
  margin: var(--sprout-common-spacing-3xl);
}

.mx_auto {
  margin-inline: auto;
}

.mx_0 {
  margin-inline: 0;
}

.mx_xs {
  margin-inline: var(--sprout-common-spacing-xs);
}

.mx_s {
  margin-inline: var(--sprout-common-spacing-s);
}

.mx_m {
  margin-inline: var(--sprout-common-spacing-m);
}

.mx_l {
  margin-inline: var(--sprout-common-spacing-l);
}

.mx_xl {
  margin-inline: var(--sprout-common-spacing-xl);
}

.mx_xxl {
  margin-inline: var(--sprout-common-spacing-xxl);
}

.mx_3xl {
  margin-inline: var(--sprout-common-spacing-3xl);
}

.my_auto {
  margin-block: auto;
}

.my_0 {
  margin-block: 0;
}

.my_xs {
  margin-block: var(--sprout-common-spacing-xs);
}

.my_s {
  margin-block: var(--sprout-common-spacing-s);
}

.my_m {
  margin-block: var(--sprout-common-spacing-m);
}

.my_l {
  margin-block: var(--sprout-common-spacing-l);
}

.my_xl {
  margin-block: var(--sprout-common-spacing-xl);
}

.my_xxl {
  margin-block: var(--sprout-common-spacing-xxl);
}

.my_3xl {
  margin-block: var(--sprout-common-spacing-3xl);
}

.my_density_xs {
  margin-block: var(--sprout-common-density-xs);
}

.my_density_s {
  margin-block: var(--sprout-common-density-s);
}

.my_density_m {
  margin-block: var(--sprout-common-density-m);
}

.my_density_l {
  margin-block: var(--sprout-common-density-l);
}

.my_density_xl {
  margin-block: var(--sprout-common-density-xl);
}

.my_density_xxl {
  margin-block: var(--sprout-common-density-xxl);
}

.my_density_3xl {
  margin-block: var(--sprout-common-density-3xl);
}

.mt_auto {
  margin-block-start: auto;
}

.mt_0 {
  margin-block-start: 0;
}

.mt_xs {
  margin-block-start: var(--sprout-common-spacing-xs);
}

.mt_s {
  margin-block-start: var(--sprout-common-spacing-s);
}

.mt_m {
  margin-block-start: var(--sprout-common-spacing-m);
}

.mt_l {
  margin-block-start: var(--sprout-common-spacing-l);
}

.mt_xl {
  margin-block-start: var(--sprout-common-spacing-xl);
}

.mt_xxl {
  margin-block-start: var(--sprout-common-spacing-xxl);
}

.mt_3xl {
  margin-block-start: var(--sprout-common-spacing-3xl);
}

.mr_auto {
  margin-inline-end: auto;
}

.mr_0 {
  margin-inline-end: 0;
}

.mr_xs {
  margin-inline-end: var(--sprout-common-spacing-xs);
}

.mr_s {
  margin-inline-end: var(--sprout-common-spacing-s);
}

.mr_m {
  margin-inline-end: var(--sprout-common-spacing-m);
}

.mr_l {
  margin-inline-end: var(--sprout-common-spacing-l);
}

.mr_xl {
  margin-inline-end: var(--sprout-common-spacing-xl);
}

.mr_xxl {
  margin-inline-end: var(--sprout-common-spacing-xxl);
}

.mr_3xl {
  margin-inline-end: var(--sprout-common-spacing-3xl);
}

.mb_auto {
  margin-block-end: auto;
}

.mb_0 {
  margin-block-end: 0;
}

.mb_xs {
  margin-block-end: var(--sprout-common-spacing-xs);
}

.mb_s {
  margin-block-end: var(--sprout-common-spacing-s);
}

.mb_m {
  margin-block-end: var(--sprout-common-spacing-m);
}

.mb_l {
  margin-block-end: var(--sprout-common-spacing-l);
}

.mb_xl {
  margin-block-end: var(--sprout-common-spacing-xl);
}

.mb_xxl {
  margin-block-end: var(--sprout-common-spacing-xxl);
}

.mb_3xl {
  margin-block-end: var(--sprout-common-spacing-3xl);
}

.ml_auto {
  margin-inline-start: auto;
}

.ml_0 {
  margin-inline-start: 0;
}

.ml_xs {
  margin-inline-start: var(--sprout-common-spacing-xs);
}

.ml_s {
  margin-inline-start: var(--sprout-common-spacing-s);
}

.ml_m {
  margin-inline-start: var(--sprout-common-spacing-m);
}

.ml_l {
  margin-inline-start: var(--sprout-common-spacing-l);
}

.ml_xl {
  margin-inline-start: var(--sprout-common-spacing-xl);
}

.ml_xxl {
  margin-inline-start: var(--sprout-common-spacing-xxl);
}

.ml_3xl {
  margin-inline-start: var(--sprout-common-spacing-3xl);
}
