.bg-transparent {
  background: transparent;
}

.bg-default {
  background: var(--sprout-common-background-color-default);
}

.bg-weak {
  background: var(--sprout-common-background-color-weak);
}

.bg-moderate {
  background: var(--sprout-common-background-color-moderate);
}

.bg-strong {
  background: var(--sprout-common-background-color-strong);
}

.bg-enabled {
  background: var(--sprout-common-background-color-enabled);
}

.bg-disabled {
  background: var(--sprout-common-background-color-disabled);
}

.bg-interactive {
  background: var(--sprout-common-background-color-enabled);
}

.bg-interactive:disabled {
  background: var(--sprout-common-background-color-disabled);
}

.bg-interactive:hover {
  background: var(--sprout-common-background-color-hover);
}

.bg-interactive:active {
  background: var(--sprout-common-background-color-pressed);
}

.bg-interactive[aria-pressed="true"] {
  background: var(--sprout-common-background-color-toggled);
}

.bg-pressed {
  background: var(--sprout-common-background-color-pressed);
}

.bg-inverse {
  background: var(--sprout-inverse-background-color-default);
}

.bg-danger {
  background: var(--sprout-danger-color-default);
}

.bg-danger-weak {
  background: var(--sprout-danger-color-weak);
}

.bg-danger-inverse {
  background: var(--sprout-danger-color-inverse);
}

.bg-danger-toggled {
  background: var(--sprout-danger-color-toggled);
}

.bg-danger-interactive {
  background: var(--sprout-danger-color-default);
}

.bg-danger-interactive:hover {
  background: var(--sprout-danger-color-hover);
}

.bg-danger-interactive:active {
  background: var(--sprout-danger-color-pressed);
}

.bg-danger-interactive:disabled {
  background: var(--sprout-danger-color-disabled);
}

.bg-danger-interactive:focus-visible {
  background: var(--sprout-danger-color-focus);
}

.bg-warning {
  background: var(--sprout-warning-color-default);
}

.bg-warning-weak {
  background: var(--sprout-warning-color-weak);
}

.bg-warning-inverse {
  background: var(--sprout-warning-color-inverse);
}

.bg-info {
  background: var(--sprout-info-color-default);
}

.bg-info-weak {
  background: var(--sprout-info-color-weak);
}

.bg-info-inverse {
  background: var(--sprout-info-color-inverse);
}

.bg-info-interactive:disabled {
  background: var(--sprout-common-background-color-disabled);
}

.bg-success {
  background: var(--sprout-success-color-default);
}

.bg-success-weak {
  background: var(--sprout-success-color-weak);
}

.bg-success-inverse {
  background: var(--sprout-success-color-inverse);
}
