.border-none {
  border: none;
}

.border-default {
  border: var(--sprout-common-border-default);
}

.border-weak {
  border: var(--sprout-common-border-weak);
}

.border-moderate {
  border: var(--sprout-common-border-moderate);
}

.border-strong {
  border: var(--sprout-common-border-strong);
}

.border-extra-strong {
  border: var(--sprout-common-border-extra-strong);
}

.border-solid {
  border-style: solid;
}

.border-dashed {
  border-style: dashed;
}

.border-dotted {
  border-style: dotted;
}

.border-width-0 {
  border-width: 0;
}

.border-width-default {
  border-width: var(--sprout-common-border-default-width);
}

.border-width-strong {
  border-width: var(--sprout-common-border-strong-width);
}

.border-t-none {
  border-block-start: none;
}

.border-t-default {
  border-block-start: var(--sprout-common-border-default);
}

.border-t-weak {
  border-block-start: var(--sprout-common-border-weak);
}

.border-t-moderate {
  border-block-start: var(--sprout-common-border-moderate);
}

.border-t-strong {
  border-block-start: var(--sprout-common-border-strong);
}

.border-t-extra-strong {
  border-block-start: var(--sprout-common-border-extra-strong);
}

.border-r-none {
  border-inline-end: none;
}

.border-r-default {
  border-inline-end: var(--sprout-common-border-default);
}

.border-r-weak {
  border-inline-end: var(--sprout-common-border-weak);
}

.border-r-moderate {
  border-inline-end: var(--sprout-common-border-moderate);
}

.border-r-strong {
  border-inline-end: var(--sprout-common-border-strong);
}

.border-r-extra-strong {
  border-inline-end: var(--sprout-common-border-extra-strong);
}

.border-b-none {
  border-block-end: none;
}

.border-b-default {
  border-block-end: var(--sprout-common-border-default);
}

.border-b-weak {
  border-block-end: var(--sprout-common-border-weak);
}

.border-b-moderate {
  border-block-end: var(--sprout-common-border-moderate);
}

.border-b-strong {
  border-block-end: var(--sprout-common-border-strong);
}

.border-b-extra-strong {
  border-block-end: var(--sprout-common-border-extra-strong);
}

.border-l-none {
  border-inline-start: none;
}

.border-l-default {
  border-inline-start: var(--sprout-common-border-default);
}

.border-l-weak {
  border-inline-start: var(--sprout-common-border-weak);
}

.border-l-moderate {
  border-inline-start: var(--sprout-common-border-moderate);
}

.border-l-strong {
  border-inline-start: var(--sprout-common-border-strong);
}

.border-l-extra-strong {
  border-inline-start: var(--sprout-common-border-extra-strong);
}

.radius-subtle {
  border-radius: var(--sprout-common-border-radius-subtle);
}

.radius-soft {
  border-radius: var(--sprout-common-border-radius-soft);
}

.radius-cushiony {
  border-radius: var(--sprout-common-border-radius-cushiony);
}

.radius-pill {
  border-radius: var(--sprout-common-border-radius-pill);
}

.radius-round {
  border-radius: var(--sprout-common-border-radius-round);
}

.radius-nested-subtle-xs {
  border-radius: var(--sprout-common-nested-border-radius-subtle-xs);
}

.radius-nested-soft-xs {
  border-radius: var(--sprout-common-nested-border-radius-soft-xs);
}

.radius-nested-soft-s {
  border-radius: var(--sprout-common-nested-border-radius-soft-s);
}

.radius-nested-cushiony-xs {
  border-radius: var(--sprout-common-nested-border-radius-cushiony-xs);
}

.radius-nested-cushiony-s {
  border-radius: var(--sprout-common-nested-border-radius-cushiony-s);
}

.radius-nested-cushiony-m {
  border-radius: var(--sprout-common-nested-border-radius-cushiony-m);
}

.radius-twice-soft-xs {
  border-radius: var(--sprout-common-twice-nested-border-radius-soft-s-xs);
}

.radius-twice-cushiony-s-xs {
  border-radius: var(--sprout-common-twice-nested-border-radius-cushiony-s-xs);
}

.radius-twice-cushiony-m-s {
  border-radius: var(--sprout-common-twice-nested-border-radius-cushiony-m-s);
}

.border-info {
  border-color: var(--sprout-info-color-default);
}

.border-warning {
  border-color: var(--sprout-warning-color-default);
}

.border-danger {
  border-color: var(--sprout-danger-color-default);
}

.border-success {
  border-color: var(--sprout-success-color-default);
}
