.cursor-auto {
  cursor: auto;
}

.cursor-default {
  cursor: default;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-wait {
  cursor: wait;
}

.cursor-text {
  cursor: text;
}

.cursor-progress {
  cursor: progress;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.cursor-none {
  cursor: none;
}

.cursor-no-drop {
  cursor: no-drop;
}

.cursor-unset {
  cursor: unset;
}

.cursor-initial {
  cursor: initial;
}

.cursor-help {
  cursor: help;
}

.cursor-row-resize {
  cursor: row-resize;
}

.cursor-col-resize {
  cursor: col-resize;
}

.pointer-events-none {
  pointer-events: none;
}

.pointer-events-auto {
  pointer-events: auto;
}
