.box-shadow-none {
  box-shadow: none;
}

.box-shadow-transparent {
  box-shadow: 0 0 0 0 transparent;
}

.box-shadow-default {
  box-shadow: var(--sprout-common-elevation-default);
}

.box-shadow-weak {
  box-shadow: var(--sprout-common-elevation-weak);
}

.box-shadow-moderate {
  box-shadow: var(--sprout-common-elevation-moderate);
}

.box-shadow-strong {
  box-shadow: var(--sprout-common-elevation-strong);
}
