.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.items-center {
  align-items: center;
}

.items-stretch {
  align-items: stretch;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-baseline {
  align-items: baseline;
}

.content-center {
  align-content: center;
}

.content-stretch {
  align-content: stretch;
}

.content-start {
  align-content: flex-start;
}

.content-end {
  align-content: flex-end;
}

.content-between {
  align-content: space-between;
}

.content-around {
  align-content: space-around;
}

.content-evenly {
  align-content: space-evenly;
}

.content-baseline {
  align-content: baseline;
}

.self-center {
  align-self: center;
}

.self-stretch {
  align-self: stretch;
}

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-end-safe {
  justify-content: safe flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-safe-center {
  justify-content: safe center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-stretch {
  justify-content: stretch;
}

.gap-0 {
  gap: 0;
}

.gap-xs {
  gap: var(--sprout-common-spacing-xs);
}

.gap-density-xs {
  gap: var(--sprout-common-density-xs);
}

.gap-s {
  gap: var(--sprout-common-spacing-s);
}

.gap-density-s {
  gap: var(--sprout-common-density-s);
}

.gap-m {
  gap: var(--sprout-common-spacing-m);
}

.gap-density-m {
  gap: var(--sprout-common-density-m);
}

.gap-l {
  gap: var(--sprout-common-spacing-l);
}

.gap-density-l {
  gap: var(--sprout-common-density-l);
}

.gap-xl {
  gap: var(--sprout-common-spacing-xl);
}

.gap-density-xl {
  gap: var(--sprout-common-density-xl);
}

.gap-xxl {
  gap: var(--sprout-common-spacing-xxl);
}

.gap-dentisy-xxl {
  gap: var(--sprout-common-density-xxl);
}

.gap-3xl {
  gap: var(--sprout-common-spacing-3xl);
}

.gap-density-3xl {
  gap: var(--sprout-common-density-3xl);
}

.gap-y-0 {
  row-gap: 0;
}

.gap-y-xs {
  row-gap: var(--sprout-common-spacing-xs);
}

.gap-y-s {
  row-gap: var(--sprout-common-spacing-s);
}

.gap-y-m {
  row-gap: var(--sprout-common-spacing-m);
}

.gap-y-l {
  row-gap: var(--sprout-common-spacing-l);
}

.gap-y-xl {
  row-gap: var(--sprout-common-spacing-xl);
}

.gap-y-xxl {
  row-gap: var(--sprout-common-spacing-xxl);
}

.gap-y-3xl {
  row-gap: var(--sprout-common-spacing-3xl);
}

.gap-x-0 {
  column-gap: 0;
}

.gap-x-xs {
  column-gap: var(--sprout-common-spacing-xs);
}

.gap-x-s {
  column-gap: var(--sprout-common-spacing-s);
}

.gap-x-m {
  column-gap: var(--sprout-common-spacing-m);
}

.gap-x-l {
  column-gap: var(--sprout-common-spacing-l);
}

.gap-x-xl {
  column-gap: var(--sprout-common-spacing-xl);
}

.gap-x-xxl {
  column-gap: var(--sprout-common-spacing-xxl);
}

.gap-x-3xl {
  column-gap: var(--sprout-common-spacing-3xl);
}

.wrap,
.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.content-box {
  box-sizing: content-box;
}

.border-box {
  box-sizing: border-box;
}

.shrink-0 {
  flex-shrink: 0;
}

.shrink,
.shrink-1 {
  flex-shrink: 1;
}

.grow,
.grow-1 {
  flex-grow: 1;
}

.grow-0 {
  flex-grow: 0;
}

.flex-1 {
  flex: 1;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-initial {
  flex: 0 1 auto;
}

.flex-none {
  flex: none; /* 0 0 auto */
}

.basis-full {
  flex-basis: 100%;
}

.basis-auto {
  flex-basis: auto;
}

.basis-0 {
  flex-basis: 0;
}
