.font-heading-xs {
  font: var(--sprout-heading-font-xs);
}

.font-heading-s {
  font: var(--sprout-heading-font-s);
}

.font-heading-m {
  font: var(--sprout-heading-font-m);
}

.font-heading-l {
  font: var(--sprout-heading-font-l);
}

.font-heading-xl {
  font: var(--sprout-heading-font-xl);
}

.font-heading-xxl {
  font: var(--sprout-heading-font-xxl);
}

.font-body-xs {
  font: var(--sprout-body-font-xs);
}

.font-body-s {
  font: var(--sprout-body-font-s);
}

.font-body-m {
  font: var(--sprout-body-font-m);
}

.font-body-l {
  font: var(--sprout-body-font-l);
}

.font-body-xl {
  font: var(--sprout-body-font-xl);
}

.font-body-xxl {
  font: var(--sprout-body-font-xxl);
}

.font-label-xs {
  font: var(--sprout-label-font-xs);
}

.font-label-xs-emphasized {
  font: var(--sprout-label-font-xs-emphasized);
}

.font-label-s {
  font: var(--sprout-label-font-s);
}

.font-label-s-emphasized {
  font: var(--sprout-label-font-s-emphasized);
}

.font-label-m {
  font: var(--sprout-label-font-m);
}

.font-label-m-emphasized {
  font: var(--sprout-label-font-m-emphasized);
}

.font-label-l {
  font: var(--sprout-label-font-l);
}

.font-label-l-emphasized {
  font: var(--sprout-label-font-l-emphasized);
}

.font-script-s {
  font: var(--sprout-script-font-s);
}

.font-script-s-emphasized {
  font: var(--sprout-script-font-s-emphasized);
}

.font-script-m {
  font: var(--sprout-script-font-m);
}

.font-script-m-emphasized {
  font: var(--sprout-script-font-m-emphasized);
}
