.icon-size-s > svg,
.icon-size-s > img {
  inline-size: var(--sprout-common-sizing-s);
  block-size: var(--sprout-common-sizing-s);
}

.icon-size-m > svg,
.icon-size-m > img {
  inline-size: var(--sprout-common-sizing-m);
  block-size: var(--sprout-common-sizing-m);
}

.icon-size-l > svg,
.icon-size-l > img {
  inline-size: var(--sprout-common-sizing-l);
  block-size: var(--sprout-common-sizing-l);
}

.icon-size-xl > svg,
.icon-size-xl > img {
  inline-size: var(--sprout-common-sizing-xl);
  block-size: var(--sprout-common-sizing-xl);
}

.icon-size-xxl > svg,
.icon-size-xxl > img {
  inline-size: var(--sprout-common-sizing-xxl);
  block-size: var(--sprout-common-sizing-xxl);
}

.fill-none {
  fill: none;
}

.fill-inherit {
  fill: inherit;
}

.fill-transparent {
  fill: transparent;
}

.fill-current {
  fill: currentcolor;
}

.fill-default {
  fill: var(--sprout-common-foreground-color-default);
}

.fill-weak {
  fill: var(--sprout-common-foreground-color-weak);
}

.fill-disabled {
  fill: var(--sprout-common-foreground-color-disabled);
}
