.z-stacked {
  z-index: var(--sprout-container-layer-stacked);
}

.z-floating {
  z-index: var(--sprout-container-layer-floating);
}

.z-overlay {
  z-index: var(--sprout-container-layer-overlay);
}

.z-context {
  z-index: var(--sprout-container-layer-context);
}

.z-time-sensitive {
  z-index: var(--sprout-container-layer-time-sensitive);
}

.z-cursor {
  z-index: var(--sprout-container-layer-cursor);
}
