.float-none {
  float: none;
}

.float-left,
.float-start {
  float: inline-start;
}

.float-right,
.float-end {
  float: inline-end;
}

.clear-left,
.clear-end {
  clear: inline-start;
}

.clear-right,
.clear-end {
  clear: inline-end;
}

.clear-both {
  clear: both;
}

.clear-none {
  clear: none;
}

.isolate {
  isolation: isolate;
}

.isolate-auto {
  isolation: auto;
}

.object-contain {
  object-fit: contain;
}

.object-cover {
  object-fit: cover;
}

.object-fill {
  object-fit: fill;
}

.object-none {
  object-fit: none;
}

.object-scale-down {
  object-fit: scale-down;
}

.object-top {
  object-position: top;
}

.object-top-left {
  object-position: top left;
}

.object-top-center {
  object-position: top center;
}

.object-top-right {
  object-position: top right;
}

.object-center-left {
  object-position: center left;
}

.object-center {
  object-position: center;
}

.object-center-right {
  object-position: center right;
}

.object-bottom {
  object-position: bottom;
}

.object-bottom-left {
  object-position: bottom left;
}

.object-bottom-center {
  object-position: bottom center;
}

.object-bottom-right {
  object-position: bottom right;
}

.object-left {
  object-position: left;
}

.object-right {
  object-position: right;
}

.overscroll-auto {
  overscroll-behavior: auto;
}

.overscroll-contain {
  overscroll-behavior: contain;
}

.overscroll-none {
  overscroll-behavior: none;
}

.overscroll-x-auto {
  overscroll-behavior-inline: auto;
}

.overscroll-x-contain {
  overscroll-behavior-inline: contain;
}

.overscroll-x-none {
  overscroll-behavior-inline: none;
}

.overscroll-y-auto {
  overscroll-behavior-block: auto;
}

.overscroll-y-contain {
  overscroll-behavior-block: contain;
}

.overscroll-y-none {
  overscroll-behavior-block: none;
}
