.m-auto {
  margin: auto;
}

.m-0 {
  margin: 0;
}

.m-xs {
  margin: var(--sprout-common-spacing-xs);
}

.m-s {
  margin: var(--sprout-common-spacing-s);
}

.m-m {
  margin: var(--sprout-common-spacing-m);
}

.m-l {
  margin: var(--sprout-common-spacing-l);
}

.m-xl {
  margin: var(--sprout-common-spacing-xl);
}

.m-xxl {
  margin: var(--sprout-common-spacing-xxl);
}

.m-3xl {
  margin: var(--sprout-common-spacing-3xl);
}

.mx-auto {
  margin-inline: auto;
}

.mx-0 {
  margin-inline: 0;
}

.mx-xs {
  margin-inline: var(--sprout-common-spacing-xs);
}

.mx-s {
  margin-inline: var(--sprout-common-spacing-s);
}

.mx-m {
  margin-inline: var(--sprout-common-spacing-m);
}

.mx-l {
  margin-inline: var(--sprout-common-spacing-l);
}

.mx-xl {
  margin-inline: var(--sprout-common-spacing-xl);
}

.mx-xxl {
  margin-inline: var(--sprout-common-spacing-xxl);
}

.mx-3xl {
  margin-inline: var(--sprout-common-spacing-3xl);
}

.my-auto {
  margin-block: auto;
}

.my-0 {
  margin-block: 0;
}

.my-xs {
  margin-block: var(--sprout-common-spacing-xs);
}

.my-s {
  margin-block: var(--sprout-common-spacing-s);
}

.my-m {
  margin-block: var(--sprout-common-spacing-m);
}

.my-l {
  margin-block: var(--sprout-common-spacing-l);
}

.my-xl {
  margin-block: var(--sprout-common-spacing-xl);
}

.my-xxl {
  margin-block: var(--sprout-common-spacing-xxl);
}

.my-3xl {
  margin-block: var(--sprout-common-spacing-3xl);
}

.my-density-xs {
  margin-block: var(--sprout-common-density-xs);
}

.my-density-s {
  margin-block: var(--sprout-common-density-s);
}

.my-density-m {
  margin-block: var(--sprout-common-density-m);
}

.my-density-l {
  margin-block: var(--sprout-common-density-l);
}

.my-density-xl {
  margin-block: var(--sprout-common-density-xl);
}

.my-density-xxl {
  margin-block: var(--sprout-common-density-xxl);
}

.my-density-3xl {
  margin-block: var(--sprout-common-density-3xl);
}

.mt-auto {
  margin-block-start: auto;
}

.mt-0 {
  margin-block-start: 0;
}

.mt-xs {
  margin-block-start: var(--sprout-common-spacing-xs);
}

.mt-s {
  margin-block-start: var(--sprout-common-spacing-s);
}

.mt-m {
  margin-block-start: var(--sprout-common-spacing-m);
}

.mt-l {
  margin-block-start: var(--sprout-common-spacing-l);
}

.mt-xl {
  margin-block-start: var(--sprout-common-spacing-xl);
}

.mt-xxl {
  margin-block-start: var(--sprout-common-spacing-xxl);
}

.mt-3xl {
  margin-block-start: var(--sprout-common-spacing-3xl);
}

.mr-auto {
  margin-inline-end: auto;
}

.mr-0 {
  margin-inline-end: 0;
}

.mr-xs {
  margin-inline-end: var(--sprout-common-spacing-xs);
}

.mr-s {
  margin-inline-end: var(--sprout-common-spacing-s);
}

.mr-m {
  margin-inline-end: var(--sprout-common-spacing-m);
}

.mr-l {
  margin-inline-end: var(--sprout-common-spacing-l);
}

.mr-xl {
  margin-inline-end: var(--sprout-common-spacing-xl);
}

.mr-xxl {
  margin-inline-end: var(--sprout-common-spacing-xxl);
}

.mr-3xl {
  margin-inline-end: var(--sprout-common-spacing-3xl);
}

.mb-auto {
  margin-block-end: auto;
}

.mb-0 {
  margin-block-end: 0;
}

.mb-xs {
  margin-block-end: var(--sprout-common-spacing-xs);
}

.mb-s {
  margin-block-end: var(--sprout-common-spacing-s);
}

.mb-m {
  margin-block-end: var(--sprout-common-spacing-m);
}

.mb-l {
  margin-block-end: var(--sprout-common-spacing-l);
}

.mb-xl {
  margin-block-end: var(--sprout-common-spacing-xl);
}

.mb-xxl {
  margin-block-end: var(--sprout-common-spacing-xxl);
}

.mb-3xl {
  margin-block-end: var(--sprout-common-spacing-3xl);
}

.ml-auto {
  margin-inline-start: auto;
}

.ml-0 {
  margin-inline-start: 0;
}

.ml-xs {
  margin-inline-start: var(--sprout-common-spacing-xs);
}

.ml-s {
  margin-inline-start: var(--sprout-common-spacing-s);
}

.ml-m {
  margin-inline-start: var(--sprout-common-spacing-m);
}

.ml-l {
  margin-inline-start: var(--sprout-common-spacing-l);
}

.ml-xl {
  margin-inline-start: var(--sprout-common-spacing-xl);
}

.ml-xxl {
  margin-inline-start: var(--sprout-common-spacing-xxl);
}

.ml-3xl {
  margin-inline-start: var(--sprout-common-spacing-3xl);
}
