.outline-none,
.outline-none:focus,
.outline-none:focus-visible {
  outline: none;
}

.outline-focus-centered:focus,
.outline-focus-visible-centered:focus-visible {
  outline: var(--sprout-focus-border-default);
  outline-offset: calc(var(--sprout-focus-border-default-width) / -2);
  border-color: transparent;
}

.outline-focus-inner:focus,
.outline-focus-visible-inner:focus-visible {
  outline: var(--sprout-focus-border-default);
  outline-offset: calc(var(--sprout-focus-border-default-width) * -1);
  border-color: transparent;
}

.outline-focus-offset:focus,
.outline-focus-visible-offset:focus-visible {
  outline: var(--sprout-focus-border-default);
  outline-offset: var(--sprout-focus-border-default-width);
}
