.overflow-visible {
  overflow: visible;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-auto {
  overflow: auto;
}

.overflow-x-visible {
  overflow-inline: visible;
}

.overflow-x-hidden {
  overflow-inline: hidden;
}

.overflow-x-scroll {
  overflow-inline: scroll;
}

.overflow-x-auto {
  overflow-inline: auto;
}

.overflow-y-visible {
  overflow-block: visible;
}

.overflow-y-hidden {
  overflow-block: hidden;
}

.overflow-y-scroll {
  overflow-block: scroll;
}

.overflow-y-auto {
  overflow-block: auto;
}
