.overflow_visible,
.overflow-visible {
  overflow: visible;
}

.overflow_hidden,
.overflow-hidden {
  overflow: hidden;
}

.overflow_scroll,
.overflow-scroll {
  overflow: scroll;
}

.overflow_auto,
.overflow-auto {
  overflow: auto;
}

.overflow_x_visible,
.overflow-x-visible {
  overflow-inline: visible;
}

.overflow_x_hidden,
.overflow-x-hidden {
  overflow-inline: hidden;
}

.overflow_x_scroll,
.overflow-x-scroll {
  overflow-inline: scroll;
}

.overflow_x_auto,
.overflow-x-auto {
  overflow-inline: auto;
}

.overflow_y_visible,
.overflow-y-visible {
  overflow-block: visible;
}

.overflow_y_hidden,
.overflow-y-hidden {
  overflow-block: hidden;
}

.overflow_y_scroll,
.overflow-y-scroll {
  overflow-block: scroll;
}

.overflow_y_auto,
.overflow-y-auto {
  overflow-block: auto;
}
