.overflow-visible {
  overflow: visible;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-auto {
  overflow: auto;
}

.overflow-x-visible {
  /* stylelint-disable-next-line plugin/use-logical-properties-and-values */
  overflow-x: visible;
}

.overflow-x-hidden {
  /* stylelint-disable-next-line plugin/use-logical-properties-and-values */
  overflow-x: hidden;
}

.overflow-x-scroll {
  /* stylelint-disable-next-line plugin/use-logical-properties-and-values */
  overflow-x: scroll;
}

.overflow-x-auto {
  /* stylelint-disable-next-line plugin/use-logical-properties-and-values */
  overflow-x: auto;
}

.overflow-y-visible {
  /* stylelint-disable-next-line plugin/use-logical-properties-and-values */
  overflow-y: visible;
}

.overflow-y-hidden {
  /* stylelint-disable-next-line plugin/use-logical-properties-and-values */
  overflow-y: hidden;
}

.overflow-y-scroll {
  /* stylelint-disable-next-line plugin/use-logical-properties-and-values */
  overflow-y: scroll;
}

.overflow-y-auto {
  /* stylelint-disable-next-line plugin/use-logical-properties-and-values */
  overflow-y: auto;
}

@supports (overflow-inline: auto) {
  .overflow-x-visible {
    overflow-inline: visible;
  }

  .overflow-x-hidden {
    overflow-inline: hidden;
  }

  .overflow-x-scroll {
    overflow-inline: scroll;
  }

  .overflow-x-auto {
    overflow-inline: auto;
  }
}

@supports (overflow-block: auto) {
  .overflow-y-visible {
    overflow-block: visible;
  }

  .overflow-y-hidden {
    overflow-block: hidden;
  }

  .overflow-y-scroll {
    overflow-block: scroll;
  }

  .overflow-y-auto {
    overflow-block: auto;
  }
}
