.p-0 {
  padding: 0;
}

.p-xs {
  padding: var(--sprout-common-spacing-xs);
}

.p-s {
  padding: var(--sprout-common-spacing-s);
}

.p-m {
  padding: var(--sprout-common-spacing-m);
}

.p-l {
  padding: var(--sprout-common-spacing-l);
}

.p-xl {
  padding: var(--sprout-common-spacing-xl);
}

.p-xxl {
  padding: var(--sprout-common-spacing-xxl);
}

.p-3xl {
  padding: var(--sprout-common-spacing-3xl);
}

.px-0 {
  padding-inline: 0;
}

.px-xs {
  padding-inline: var(--sprout-common-spacing-xs);
}

.px-s {
  padding-inline: var(--sprout-common-spacing-s);
}

.px-m {
  padding-inline: var(--sprout-common-spacing-m);
}

.px-l {
  padding-inline: var(--sprout-common-spacing-l);
}

.px-xl {
  padding-inline: var(--sprout-common-spacing-xl);
}

.px-xxl {
  padding-inline: var(--sprout-common-spacing-xxl);
}

.px-3xl {
  padding-inline: var(--sprout-common-spacing-3xl);
}

.py-0 {
  padding-block: 0;
}

.py-xs {
  padding-block: var(--sprout-common-spacing-xs);
}

.py-s {
  padding-block: var(--sprout-common-spacing-s);
}

.py-m {
  padding-block: var(--sprout-common-spacing-m);
}

.py-l {
  padding-block: var(--sprout-common-spacing-l);
}

.py-xl {
  padding-block: var(--sprout-common-spacing-xl);
}

.py-xxl {
  padding-block: var(--sprout-common-spacing-xxl);
}

.py-3xl {
  padding-block: var(--sprout-common-spacing-3xl);
}

.py-density-xs {
  padding-block: var(--sprout-common-density-xs);
}

.py-density-s {
  padding-block: var(--sprout-common-density-s);
}

.py-density-m {
  padding-block: var(--sprout-common-density-m);
}

.py-density-l {
  padding-block: var(--sprout-common-density-l);
}

.py-density-xl {
  padding-block: var(--sprout-common-density-xl);
}

.py-density-xxl {
  padding-block: var(--sprout-common-density-xxl);
}

.py-density-3xl {
  padding-block: var(--sprout-common-density-3xl);
}

.pt-0 {
  padding-block-start: 0;
}

.pt-xs {
  padding-block-start: var(--sprout-common-spacing-xs);
}

.pt-s {
  padding-block-start: var(--sprout-common-spacing-s);
}

.pt-m {
  padding-block-start: var(--sprout-common-spacing-m);
}

.pt-l {
  padding-block-start: var(--sprout-common-spacing-l);
}

.pt-xl {
  padding-block-start: var(--sprout-common-spacing-xl);
}

.pt-xxl {
  padding-block-start: var(--sprout-common-spacing-xxl);
}

.pt-3xl {
  padding-block-start: var(--sprout-common-spacing-3xl);
}

.pr-0 {
  padding-inline-end: 0;
}

.pr-xs {
  padding-inline-end: var(--sprout-common-spacing-xs);
}

.pr-s {
  padding-inline-end: var(--sprout-common-spacing-s);
}

.pr-m {
  padding-inline-end: var(--sprout-common-spacing-m);
}

.pr-l {
  padding-inline-end: var(--sprout-common-spacing-l);
}

.pr-xl {
  padding-inline-end: var(--sprout-common-spacing-xl);
}

.pr-xxl {
  padding-inline-end: var(--sprout-common-spacing-xxl);
}

.pr-3xl {
  padding-inline-end: var(--sprout-common-spacing-3xl);
}

.pb-0 {
  padding-block-end: 0;
}

.pb-xs {
  padding-block-end: var(--sprout-common-spacing-xs);
}

.pb-s {
  padding-block-end: var(--sprout-common-spacing-s);
}

.pb-m {
  padding-block-end: var(--sprout-common-spacing-m);
}

.pb-l {
  padding-block-end: var(--sprout-common-spacing-l);
}

.pb-xl {
  padding-block-end: var(--sprout-common-spacing-xl);
}

.pb-xxl {
  padding-block-end: var(--sprout-common-spacing-xxl);
}

.pb-3xl {
  padding-block-end: var(--sprout-common-spacing-3xl);
}

.pl-0 {
  padding-inline-start: 0;
}

.pl-xs {
  padding-inline-start: var(--sprout-common-spacing-xs);
}

.pl-s {
  padding-inline-start: var(--sprout-common-spacing-s);
}

.pl-m {
  padding-inline-start: var(--sprout-common-spacing-m);
}

.pl-l {
  padding-inline-start: var(--sprout-common-spacing-l);
}

.pl-xl {
  padding-inline-start: var(--sprout-common-spacing-xl);
}

.pl-xxl {
  padding-inline-start: var(--sprout-common-spacing-xxl);
}

.pl-3xl {
  padding-inline-start: var(--sprout-common-spacing-3xl);
}
