.static {
  position: static;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.inset-0 {
  inset-block: 0;
  inset-inline: 0;
}

.inset-s {
  inset-block: var(--sprout-common-sizing-s);
  inset-inline: var(--sprout-common-sizing-s);
}

.inset-m {
  inset-block: var(--sprout-common-sizing-m);
  inset-inline: var(--sprout-common-sizing-m);
}

.inset-l {
  inset-block: var(--sprout-common-sizing-l);
  inset-inline: var(--sprout-common-sizing-l);
}

.top-0 {
  inset-block-start: 0;
}

.top-s {
  inset-block-start: var(--sprout-common-sizing-s);
}

.-top-s {
  inset-block-start: calc(var(--sprout-common-sizing-s) * -1);
}

.top-m {
  inset-block-start: var(--sprout-common-sizing-m);
}

.-top-m {
  inset-block-start: calc(var(--sprout-common-sizing-m) * -1);
}

.top-l {
  inset-block-start: var(--sprout-common-sizing-l);
}

.-top-l {
  inset-block-start: calc(var(--sprout-common-sizing-l) * -1);
}

.top-xl {
  inset-block-start: var(--sprout-common-sizing-xl);
}

.-top-xl {
  inset-block-start: calc(var(--sprout-common-sizing-xl) * -1);
}

.bottom-0 {
  inset-block-end: 0;
}

.bottom-s {
  inset-block-end: var(--sprout-common-sizing-s);
}

.-bottom-s {
  inset-block-end: calc(var(--sprout-common-sizing-s) * -1);
}

.bottom-m {
  inset-block-end: var(--sprout-common-sizing-m);
}

.-bottom-m {
  inset-block-end: calc(var(--sprout-common-sizing-m) * -1);
}

.bottom-l {
  inset-block-end: var(--sprout-common-sizing-l);
}

.-bottom-l {
  inset-block-end: calc(var(--sprout-common-sizing-l) * -1);
}

.bottom-xl {
  inset-block-end: var(--sprout-common-sizing-xl);
}

.-bottom-xl {
  inset-block-end: calc(var(--sprout-common-sizing-xl) * -1);
}

.left-0 {
  inset-inline-start: 0;
}

.left-s {
  inset-inline-start: var(--sprout-common-sizing-s);
}

.-left-s {
  inset-inline-start: calc(var(--sprout-common-sizing-s) * -1);
}

.left-m {
  inset-inline-start: var(--sprout-common-sizing-m);
}

.-left-m {
  inset-inline-start: calc(var(--sprout-common-sizing-m) * -1);
}

.left-l {
  inset-inline-start: var(--sprout-common-sizing-l);
}

.-left-l {
  inset-inline-start: calc(var(--sprout-common-sizing-l) * -1);
}

.left-xl {
  inset-inline-start: var(--sprout-common-sizing-xl);
}

.-left-xl {
  inset-inline-start: calc(var(--sprout-common-sizing-xl) * -1);
}

.right-0 {
  inset-inline-end: 0;
}

.right-s {
  inset-inline-end: var(--sprout-common-sizing-s);
}

.-right-s {
  inset-inline-end: calc(var(--sprout-common-sizing-s) * -1);
}

.right-m {
  inset-inline-end: var(--sprout-common-sizing-m);
}

.-right-m {
  inset-inline-end: calc(var(--sprout-common-sizing-m) * -1);
}

.right-l {
  inset-inline-end: var(--sprout-common-sizing-l);
}

.-right-l {
  inset-inline-end: calc(var(--sprout-common-sizing-l) * -1);
}

.right-xl {
  inset-inline-end: var(--sprout-common-sizing-xl);
}

.-right-xl {
  inset-inline-end: calc(var(--sprout-common-sizing-xl) * -1);
}
