.w-0 {
  inline-size: 0;
}

.w-auto {
  inline-size: auto;
}

.w-full {
  inline-size: 100%;
}

.w-screen {
  inline-size: 100vw;
}

.w-dvw {
  inline-size: 100dvw;
}

.w-dvh {
  inline-size: 100dvh;
}

.w-lvw {
  inline-size: 100lvw;
}

.w-lvh {
  inline-size: 100lvh;
}

.w-svw {
  inline-size: 100svw;
}

.w-svh {
  inline-size: 100svh;
}

.w-fit {
  inline-size: fit-content;
}

.w-min {
  inline-size: min-content;
}

.w-max {
  inline-size: max-content;
}

.w-rest {
  inline-size: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

.min-h-0 {
  min-block-size: 0;
}

.min-h-full {
  min-block-size: 100%;
}

.min-h-screen {
  min-block-size: 100vh;
}

.h-0 {
  block-size: 0;
}

.h-auto {
  block-size: auto;
}

.h-full {
  block-size: 100%;
}

.h-screen {
  block-size: 100vh;
}

.h-dvw {
  block-size: 100dvw;
}

.h-dvh {
  block-size: 100dvh;
}

.h-lvw {
  block-size: 100lvw;
}

.h-lvh {
  block-size: 100lvh;
}

.h-svw {
  block-size: 100svw;
}

.h-svh {
  block-size: 100svh;
}

.h-fit {
  block-size: fit-content;
}

.h-min {
  block-size: min-content;
}

.h-max {
  block-size: max-content;
}

.h-rest {
  block-size: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

.size-0 {
  inline-size: 0;
  block-size: 0;
}

.size-auto {
  inline-size: auto;
  block-size: auto;
}

.size-full {
  inline-size: 100%;
  block-size: 100%;
}

.size-fit {
  inline-size: fit-content;
  block-size: fit-content;
}

.size-min {
  inline-size: min-content;
  block-size: min-content;
}

.size-max {
  inline-size: max-content;
  block-size: max-content;
}

.size-s {
  inline-size: var(--sprout-common-sizing-s);
  block-size: var(--sprout-common-sizing-s);
}

.size-m {
  inline-size: var(--sprout-common-sizing-m);
  block-size: var(--sprout-common-sizing-m);
}

.size-l {
  inline-size: var(--sprout-common-sizing-l);
  block-size: var(--sprout-common-sizing-l);
}

.size-xl {
  inline-size: var(--sprout-common-sizing-xl);
  block-size: var(--sprout-common-sizing-xl);
}

.size-xxl {
  inline-size: var(--sprout-common-sizing-xxl);
  block-size: var(--sprout-common-sizing-xxl);
}

.size-3xl {
  inline-size: var(--sprout-common-sizing-3xl);
  block-size: var(--sprout-common-sizing-3xl);
}

.size-4xl {
  inline-size: var(--sprout-common-sizing-4xl);
  block-size: var(--sprout-common-sizing-4xl);
}

.size-5xl {
  inline-size: var(--sprout-common-sizing-5xl);
  block-size: var(--sprout-common-sizing-5xl);
}

.size-6xl {
  inline-size: var(--sprout-common-sizing-6xl);
  block-size: var(--sprout-common-sizing-6xl);
}

.size-7xl {
  inline-size: var(--sprout-common-sizing-7xl);
  block-size: var(--sprout-common-sizing-7xl);
}

.w-xxs {
  inline-size: var(--sprout-container-sizing-xxs);
}

.w-xs {
  inline-size: var(--sprout-container-sizing-xs);
}

.w-s {
  inline-size: var(--sprout-container-sizing-s);
}

.w-m {
  inline-size: var(--sprout-container-sizing-m);
}

.w-l {
  inline-size: var(--sprout-container-sizing-l);
}

.w-xl {
  inline-size: var(--sprout-container-sizing-xl);
}

.w-xxl {
  inline-size: var(--sprout-container-sizing-xxl);
}

.w-3xl {
  inline-size: var(--sprout-container-sizing-3xl);
}

.w-4xl {
  inline-size: var(--sprout-container-sizing-4xl);
}

.resize {
  resize: both;
}

.resize-x {
  resize: inline;
}

.resize-y {
  resize: block;
}

.resize-none {
  resize: none;
}

.min-w-0 {
  min-inline-size: 0;
}

.min-w-auto {
  min-inline-size: auto;
}

.min-w-full {
  min-inline-size: 100%;
}

.min-w-screen {
  min-inline-size: 100vw;
}

.min-w-dvw {
  min-inline-size: 100dvw;
}

.min-w-dvh {
  min-inline-size: 100dvh;
}

.min-w-lvw {
  min-inline-size: 100lvw;
}

.min-w-lvh {
  min-inline-size: 100lvh;
}

.min-w-svw {
  min-inline-size: 100svw;
}

.min-w-svh {
  min-inline-size: 100svh;
}

.min-w-min {
  min-inline-size: min-content;
}

.min-w-max {
  min-inline-size: max-content;
}

.min-w-fit {
  min-inline-size: fit-content;
}

.min-w-xxs {
  min-inline-size: var(--sprout-container-sizing-xxs);
}

.min-w-xs {
  min-inline-size: var(--sprout-container-sizing-xs);
}

.min-w-s {
  min-inline-size: var(--sprout-container-sizing-s);
}

.min-w-m {
  min-inline-size: var(--sprout-container-sizing-m);
}

.min-w-l {
  min-inline-size: var(--sprout-container-sizing-l);
}

.min-w-xl {
  min-inline-size: var(--sprout-container-sizing-xl);
}

.min-w-xxl {
  min-inline-size: var(--sprout-container-sizing-xxl);
}

.min-w-3xl {
  min-inline-size: var(--sprout-container-sizing-3xl);
}

.min-w-4xl {
  min-inline-size: var(--sprout-container-sizing-4xl);
}

.max-w-0 {
  max-inline-size: 0;
}

.max-w-none {
  max-inline-size: none;
}

.max-w-full {
  max-inline-size: 100%;
}

.max-w-screen {
  max-inline-size: 100vw;
}

.max-w-dvw {
  max-inline-size: 100dvw;
}

.max-w-dvh {
  max-inline-size: 100dvh;
}

.max-w-lvw {
  max-inline-size: 100lvw;
}

.max-w-lvh {
  max-inline-size: 100lvh;
}

.max-w-svw {
  max-inline-size: 100svw;
}

.max-w-svh {
  max-inline-size: 100svh;
}

.max-w-fit {
  max-inline-size: fit-content;
}

.max-w-min {
  max-inline-size: min-content;
}

.max-w-max {
  max-inline-size: max-content;
}

.max-w-xxs {
  max-inline-size: var(--sprout-container-sizing-xxs);
}

.max-w-xs {
  max-inline-size: var(--sprout-container-sizing-xs);
}

.max-w-s {
  max-inline-size: var(--sprout-container-sizing-s);
}

.max-w-m {
  max-inline-size: var(--sprout-container-sizing-m);
}

.max-w-l {
  max-inline-size: var(--sprout-container-sizing-l);
}

.max-w-xl {
  max-inline-size: var(--sprout-container-sizing-xl);
}

.max-w-xxl {
  max-inline-size: var(--sprout-container-sizing-xxl);
}

.max-w-3xl {
  max-inline-size: var(--sprout-container-sizing-3xl);
}

.max-w-4xl {
  max-inline-size: var(--sprout-container-sizing-4xl);
}
