._content_max_rows_dgjkq_2{line-clamp:3;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:block-axis}._content_max_height_dgjkq_10{max-block-size:calc(var(--sprout-label-font-s-line-height) * 4);scrollbar-width:thin}
