.dialog_actions {
  container-type: inline-size;
  container-name: dialog-actions;
}

/*  @container conditions are evaluated at parse time, and CSS custom properties(var(--x)) are only resolved at computed-value time. Should be `var(--sprout-container-sizing-s)`
*/
@container dialog-actions (width < 400px) {
  .dialog_actions_container {
    flex-direction: column;
  }

  .dialog_actions_start_section {
    inline-size: 100%;
  }

  .dialog_actions_end_section {
    inline-size: 100%;
  }
}
