name: Release

on:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Git Config
        run: |
          git config user.name "github-action"
          git config user.email "github-action@noreply.github.com"

      - name: Use Node.js
        uses: ./.github/actions/setup-node
        with:
          npm-token: ${{ secrets.NPM_CI_TOKEN }}

      - run: pnpm install

      - name: Create Release Pull Request or Publish to Qlik GitHub Packages npm registry
        id: changesets
        uses: changesets/action@v1
        with:
          setupGitUser: false
          commit: "chore(release): version packages"
          title: "chore(release): version packages"
          publish: pnpm publish-packages
        env:
          GITHUB_TOKEN: ${{ secrets.GH_ACCESS_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_CI_TOKEN }}
