.item {
  outline: none;
}

.item.item_interactive {
  cursor: pointer;
}

.item.item_interactive:hover,
.item:has(.item_interactive:not(:disabled):hover) {
  background-color: var(--sprout-common-background-color-hover);
}

.item:has(.item_interactive:not(:disabled):active) {
  background-color: var(--sprout-common-background-color-pressed);
}

.item:has(.item_interactive:not(:disabled):focus-visible) {
  outline: var(--sprout-focus-border-default);
}

.item_selected_indicator {
  /* FIXME: wait for sizing-xs token */
  inline-size: calc(var(--sprout-common-sizing-s) / 2);
  block-size: calc(100% - 2 * var(--sprout-common-density-m));
}
